.panel_home{
	background-color: #343a40;
	min-width: min-content;
	min-height: min-content;
	min-height: 50rem;
	height: auto;
	width: 25%;
	align-items: baseline;
	align-content: flex-start;
}
.panel_home b{
	color: white;
}
.panel_home button{
	margin: 5%;
	margin-bottom: 0;
	min-width: 90%;
	width: 90%;
}

a{
	text-decoration: none;
	color: aliceblue;
}